*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 6.4rem calc(100vh - 6.4rem); }

.nav {
  grid-column: 1 / -1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  /* .page-title {
        margin-left: 2rem;
    } */ }
  .nav__list {
    list-style: none;
    display: flex; }
  .nav__item a {
    color: black;
    text-decoration: none;
    margin-right: 2rem; }

.logo {
  height: 5rem;
  margin-left: 2rem; }

.header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.heading-1 {
  font-size: 9rem;
  font-weight: 400; }

.heading-2 {
  font-size: 5rem;
  font-weight: 300; }

.btn {
  font-size: 3rem;
  margin-top: 5rem;
  cursor: pointer; }
  .btn--header {
    border: .5rem solid white;
    padding: 2rem 4rem; }
