.alphabet {
    display: grid;

    &__heading {
        
    }

    &__info {
        //padding: 2rem;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3rem;

        list-style-position: inside;

        //
       /*  font-size: 1rem; */
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(13, min-content);
        grid-auto-flow: column;
        align-items: center;

        margin: 2rem auto;
       

        list-style: none;
        border: 3px solid black;

        & > li {
            font-size: 1.6rem;
            padding-left: 3rem;
            padding-right:  3rem;
            font-weight: 700;

            //
           /*  font-size: 1rem;
            padding-left: 1rem;
            padding-right: 1rem; */

            span {
                font-size: 2em;
                //line-height: 3rem;
                margin-left: 2rem;
                font-weight: 700;
            }
        }

        @for $i from 14 to 27 {
            & li:nth-child(#{$i}) {
                border-right: 2px solid black;
            }
        }
    }
}
