.header {
    background-color: black;
    color: white;

    display: grid;
    justify-items: center;
    align-content: center;

    grid-column: 1 / -1;
    font-size: 6rem;

    a {
        color: #fff;
        text-decoration: none;
    }
}