.heading-1 {
    font-size: 9rem;
    font-weight: 400;
    //margin-left: 3rem;
}

.heading-2 {
    font-size: 5rem;
    font-weight: 300;
   // margin-left: 3rem;
}

.heading-3 {
    text-align: center; 
    text-transform: none;
}

.btn {
    font-size: 3rem;
    margin-top: 5rem;
    cursor: pointer;

    &--header {
        border: .5rem solid white;
        padding: 2rem 4rem;
    }
}